<div class="card p-0">
  <div class="flex flex-wrap sm:flex-nowrap">
    <div class="basis-full sm:basis-1/2 p-8 pb-0">
      <div class="grid grid-cols-[2.5rem_2.5rem_auto] grid-rows-[18px_auto] leading-none items-center justify-start">
        <div class="w-6 mr-4 row-start-2">
          <i class="pi pi-volume-up play-audio-button" style="color: #5397d5; font-size: 1.5rem" (click)="playAudio(card?.audioUrls[0])"></i>
        </div>
        <div class="w-6 mr-4 row-start-2">
          <p-knob size="20" [(ngModel)]="card.frequencyRank" [disabled]="true" [showValue]="false" [valueColor]="'#00c853'" [pTooltip]="'frequency-rank-tooltip-kanji' | translate: { value: card.frequencyRank }" [tooltipStyleClass]="'max-w-xs'" tabindex="0" tooltipEvent="focus" [styleClass]="'outline-0'"></p-knob>
        </div>
        <div [innerHTML]="card?.furiganaHtml" class="text-black furigana-font text-[40px] row-span-2"></div>
      </div>
    </div>
    <div class="basis-full sm:basis-1/2 p-8 pb-0" *ngIf="card?.mnemonic?.imageUrl">
      <div class="flex items-start justify-start">
        <img class="margin-m" width="105" height="105" *ngIf="card?.mnemonic?.imageUrl" [src]="card?.mnemonic?.imageUrl" />
        <!--          <button pButton style="background: none; padding: 0; border: none; margin-left: 10px" type="button" class="edit"><ic-icon [icon]="icons.editIcon" height="18" width="18" [color]="'#5397d5'"></ic-icon></button>-->
      </div>
    </div>
  </div>
  
  <div class="flex flex-wrap sm:flex-nowrap">
    <div class="basis-full sm:basis-1/2 p-8 pb-0 border-r border-neutral-100">
      <div class="text-center text-[12px]" style="color: #afafaf">{{ 'Meanings:' | translate }}</div>


      
      <div class="flex items-center justify-start">
        <div style="flex: 1"></div>
        <div style="flex: 9">
          <ul class="p-0" style="list-style: none; margin-left: 10px">
            <li *ngFor="let meaning of card?.meanings" class="text-black" style="margin-bottom: 10px; font-size: 14px">
              {{ meaning?.value }}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex justify-center">
        <hr class="w-full" style="border: 1px solid #f4f6f8" />
      </div>
      <ng-container *ngIf="card?.exampleSentences?.length">
        <p style="text-align: center; color: #afafaf; font-size: 12px">{{ 'Examples:' | translate }}</p>
        <div class="flex items-center justify-start" style="margin-top: 30px" *ngFor="let example of card?.exampleSentences | slice: 0:card?.countExampleSentencesToShow" class="example-sentence">
          <div style="flex: 1">
            <i *ngIf="example?.audioUrls?.length" class="pi pi-volume-up play-audio-button" style="color: #5397d5; font-size: 1.5rem" (click)="playAudio(example?.audioUrls[0])"></i>
          </div>
          <div style="flex: 9" class="flex flex-col">
            <p [innerHTML]="example?.furiganaHtml" class="text-black" style="margin-left: 10px; font-size: 18px"></p>
            <p *ngIf="example?.translationHtml" class="text-black" [innerHTML]="example?.translationHtml" style="margin-left: 10px; font-size: 14px"></p>
          </div>
        </div>
        <div class="flex items-center justify-center" style="margin-top: 25px" *ngIf="card?.exampleSentences?.length > card?.countExampleSentencesToShow">
          <button pButton class="ellipsis-btn" style="width: 100%; height: 20px" icon="pi pi-ellipsis-h" iconPos="center" (click)="showMore(5)"></button>
        </div>
      </ng-container>
    </div>
    <div class="basis-full sm:basis-1/2 p-8 pb-0">
      <div class="text-center text-[12px]" style="color: #afafaf">{{ 'Kanji in this word:' | translate }}</div>
      <div class="flex flex-col" *ngFor="let kanji of card?.kanji; let i = index">
        <div class="flex">
          <div style="flex: 1"></div>
          <div style="flex: 12" class="flex">
            <ng-container *ngFor="let kanjiReading of kanji?.readings; let y = index">
              <div
                class="flex flex-col items-center"
                [ngClass]="{
                  'm-l': y !== 0
                }"
                *ngIf="card.kanji[i].readings[y].frequencyPercent > 5"
              >
                <p-knob size="20" [(ngModel)]="card.kanji[i].readings[y].frequencyPercent" [showValue]="false" [valueColor]="y === 0 ? '#73e38e' : '#a0b0c4'"></p-knob>
                <p
                  [ngClass]="{
                    'text-black': y === 0,
                    'text-gray': y !== 0
                  }"
                  style="font-size: 14px"
                >
                  {{ kanjiReading?.value }}
                </p>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="flex">
          <div style="flex: 1"></div>
          <div style="flex: 9" class="flex items-center justify-start">
            <p class="text-black" style="font-size: 31px; margin: 0">{{ kanji?.value }}</p>
            <ul style="list-style: none" class="p-l">
              <li *ngFor="let kanjiMeaning of kanji?.meanings; let i = index" class="text-black" style="font-size: 16px">{{ kanjiMeaning?.value }}<span *ngIf="kanji?.meanings?.length !== 1 && i !== kanji?.meanings?.length - 1">,</span></li>
            </ul>
          </div>
          <div style="flex: 3" class="flex items-center justify-center">
            <button pButton class="ellipsis-btn" style="width: 44px; height: 25px" icon="pi pi-ellipsis-h" iconPos="center" (click)="goToKanjiInfo(kanji?.infoCard)"></button>
          </div>
        </div>
        <div class="flex justify-center" *ngIf="i !== kanji?.meanings?.length - 1">
          <hr class="w-full" style="border: 1px solid #f4f6f8" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card card-bottom-buttons w-full" style="margin: 0; padding: 12px 16px">
  <div class="word-footer">
    <div style="flex: 3" class="footer-text">
      <p style="color: #a0b0c4; font-size: 14px">
        {{ 'Explanation: take a look at the meanings and the usage of the word, then click "Continue."' | translate }}
      </p>
    </div>
    <div style="flex: 1" class="w-full flex justify-center">
      <button pButton label="{{ 'Continue' | translate }}" class="w-full" style="height: 40px; font-size: 15px" (click)="goToNextCard()"></button>
    </div>
  </div>
</div>
