**/.idea
**/vendor
**/node_modules
.git
logs
k8s

backend/runtime/*
backend/web/yii-assets/*
backend/rbac/*
backend/web/index-local.php
composer.phar
phpunit.phar
backend/phpunit.xml
backend/tests/_output/*
backend/tests/_support/_generated
backend/.vagrant
backend/web/index-local.php
backend/config/web-local.php
backend/config/params-local.php
backend/config/db-local.php

frontend/dist
backend-ts/dist
**/Dockerfile
Thumbs.db
.DS_Store