# See http://help.github.com/ignore-files/ for more about ignoring files.

/.idea
/.vagrant
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.php-cs-fixer.cache
/test
/.env