<div class="container">
  <div class="card">
    <h4 translate>Support</h4>
    <p translate>Please fill out the form below to contact support. We'll answer you by email.</p>

    <p>{{ "Our E-mail" | translate }}: <a href="mailto:info@langapp.net">info@langapp.net</a></p>
    <form #frmVar="ngForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-field g-field">
          <label for="name">{{'Name' | translate}}</label>
          <input id="name" formControlName="name" pInputText type="text" />
          <small class="p-invalid" *ngIf="checkError('name')">{{getError('name')}}</small>
        </div>
        <div class="p-field g-field">
          <label for="email">{{'Email' | translate}}</label>
          <input id="email" formControlName="email" pInputText type="text" />
          <small class="p-invalid" *ngIf="checkError('email')">{{getError('email')}}</small>
        </div>
        <!--<div class="p-field">
          <label for="telephone" formControlName="telephone">{{'Phone' | translate}}</label>
          <input id="telephone" pInputText type="text" [class.p-invalid]="checkError('telephone')" />
          <small class="p-invalid" *ngIf="checkError('telephone')">{{getError('telephone')}}</small>
        </div>-->
        <div class="p-field g-field-big">
          <label for="body">{{'Message' | translate}}</label>
          <textarea id="body" formControlName="body" pInputTextarea [autoResize]="true" [class.p-invalid]="checkError('body')" [rows]="5" [cols]="30"></textarea>
          <small class="p-invalid" *ngIf="checkError('body')">{{getError('body')}}</small>
        </div>
      </div>

      <div class="p-mb-3">
        <ngx-recaptcha2 #recaptcha formControlName="recaptcha" (reset)="resetCaptcha()" (reload)="reloadCaptcha()" [hl]="language" [siteKey]="api.siteKey" [size]="'normal'" [useGlobalDomain]="true">
        </ngx-recaptcha2>
        <!--      <mat-error *ngIf="checkError('recaptcha')">{{getError('recaptcha')}}</mat-error>-->
      </div>

      <div>
        <button (click)="onSubmit()" color="primary" [disabled]="isErrors" pButton label="{{'Send' | translate}}"></button>
      </div>
    </form>
  </div>
</div>