<div class="container">
  <div class="card" *ngIf="isLoaded; else loadingSpinner">
    <h1 translate>Sign in</h1>
    <p class="note" translate>signin.note</p>

    <ng-container *ngIf="errors.length > 0">
      <p-messages severity="error">
        <ng-template pTemplate>
          <div *ngFor="let err of errors">
            {{err.message}}
          </div>
        </ng-template>
      </p-messages>
    </ng-container>


    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-field g-field">
          <label for="email">{{'Email' | translate}}</label>
          <input id="email" formControlName="email" pInputText type="email" />
          <small class="p-invalid" *ngIf="checkError('email')">{{getErrors('email')}}</small>
        </div>

        <div class="p-field g-field">
          <label for="password">{{'Password' | translate}}</label>
          <input id="password" formControlName="password" pInputText type="password" />
          <small class="p-invalid" *ngIf="checkError('password')">{{getErrors('password')}}</small>
        </div>
      </div>

      <div class="p-mb-3">
        <a routerLink="/auth/restore" translate>Forgot password?</a>
      </div>

      <div>
        <button (click)="onSubmit()" color="primary" [disabled]="!signinForm.valid" pButton label="{{'Sign in' | translate}}"></button>
      </div>
    </form>
  </div>

  <ng-template #loadingSpinner>
    <div class="p-d-flex p-jc-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
</div>