.left-video {
  padding: 0;
  overflow: hidden;
}

.right-text-parent {
  display: flex;
  flex-direction: column;
}

.right-text {
  flex: 1 1 100px;
  overflow-y: scroll;
}

.buttons {
  margin-bottom: 24px;
}

.button {
  display: inline-block;
  border: none;
  padding: 13px;

  &__main {
    background: #1b74c5;
    border-radius: 4px;
    color: white;
    font-size: 16px;
  }

  &__secondary {
    background: none;
    color: #9ac1e4;
    font-size: 13px;
  }
}

.button__secondary:hover {
  color: #69a3d9;
}

.check {
  font-size: 12px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.translated-title {
  color: #a4a9af;
  font-size: 14px;
}

.content {
  font-size: 14px;
  margin-bottom: 10px;

  &__header {
    font-weight: 600;
  }

  &__level {
    padding: 5px 15px;
    background: #9c27b0;
    color: white;
    border-radius: 15px;
    margin-left: 5px;
  }
}

.recommended-title {
  font-size: 18px;
  font-weight: 600;
}

.recommended-item {
  display: flex;
  margin-bottom: 12px;

  &__image {
    width: 180px;
    height: 100px;
    flex: 0 1 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
  }

  &__info {
    padding: 0 0 1rem 1rem;
    flex: 1 1 50%;

    .content.content__level {
      margin-left: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .recommended-item {
    flex-direction: column;

    &__image {
      width: 100%;
      height: 150px;
    }

    &__info {
      padding: 1rem 0 1rem 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .right-text {
    height: auto;
    overflow-y: visible;
  }
}

.no-padding {
  padding: 0;
}

div::-webkit-scrollbar {
  background: transparent;
  width: 16px;
}

div::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #909090;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
}
