<div class="container">
  <div class="card">
    <h4 translate>Materials</h4>
    <form [formGroup]="filterForm">
      <div class="filter flex flex-wrap gap-4">
        <!--<form [formGroup]="filterForm" class="form-filter">
        <input pInputText formControlName="keywords" placeholder="{{'Search to keywords' | translate}}">

        <div class="filter-button">
          <button pButton (click)="onSubmitSearch()" label="{{'Search' | translate}}"></button>
        </div>
      -->

        <p-multiSelect formControlName="categoryId" [options]="categories" optionLabel="title" optionValue="id" [filter]="false" [defaultLabel]="'Topics' | translate" [style]="{ width: '200px' }"></p-multiSelect>

        <p-dropdown formControlName="level" [options]="levels$ | async" optionLabel="title" optionValue="value" placeholder="{{ 'JLPT Level' | translate }}" [showClear]="true" [style]="{ width: '150px' }"></p-dropdown>

        <!--<p-dropdown formControlName="type" [options]="types$ | async" optionLabel="title" optionValue="value" placeholder="{{ 'Content Type' | translate }}" [showClear]="true" [style]="{ width: '170px' }"></p-dropdown>-->

        <p-dropdown formControlName="length" [options]="lengthVariants$ | async" optionLabel="title" optionValue="value" placeholder="{{ 'Text length' | translate }}" [showClear]="true" [style]="{ width: '200px' }"></p-dropdown>
  
        <p-dropdown formControlName="sort" [options]="sortOptions" optionLabel="title" optionValue="value" placeholder="Sort By" [style]="{ width: '200px' }">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="sortValue">
                <div>Sort By: {{getSortLabel(sortValue)}}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <p-toggleButton [onLabel]="'Hide studied' | translate" [offLabel]="'Show studied' | translate" [style]="{ width: '10rem' }"></p-toggleButton>
      </div>
    </form>
  </div>

  <app-list-materials *ngIf="contentList$ | async as contentList" [list]="$any(contentList)" (deleteM)="deleteMaterial($event)" (dataChanged)="changePageTable($event)"></app-list-materials>
</div>
