.lang-toggle-group {
  border: none;
  border-radius: 0;
  width: 100%;
}

 .lang-toggle-group .mat-button-toggle+.mat-button-toggle {
  border-top: 0;
}

 .lang-item .mat-button-toggle-label-content {
  position: relative;
  display: flex;
  font-size: 14px;
  align-items: flex-start;
}

 .mat-button-toggle-checked {
  background: none
}

.lang-item .mat-icon {
  position: relative;
  margin-right: 5px;
  color: #999999;

}
