<mat-toolbar>
  <a mat-button *ngIf="!api.isLoggedIn" routerLink="/signup" translate>Sign up</a>
  <button mat-button *ngIf="!api.isLoggedIn" routerLink="/signin" translate>Sign in</button>
  <button mat-button [matMenuTriggerFor]="language" translate>Language</button>
  <button mat-button *ngIf="api.isLoggedIn" routerLink="/payment" translate>Payment</button>
  <button mat-button *ngIf="api.isLoggedIn" routerLink="/users/settings" translate>Settings</button>
  <button mat-button [matMenuTriggerFor]="partnership" routerLink="/settings" translate>Partnership</button>
  <button mat-button routerLink="/contacts" translate>Contacts</button>
  <button mat-button *ngIf="api.isLoggedIn" (click)="logout()" translate>Logout</button>
</mat-toolbar>


<mat-menu #language="matMenu">
  <button mat-menu-item (click)="setLanguage('ru')">Russian</button>
  <button mat-menu-item (click)="setLanguage('en')">Английский</button>
</mat-menu>

<mat-menu #partnership="matMenu">
  <button mat-menu-item routerLink="about-partner" translate>About</button>
  <button mat-menu-item routerLink="clients" *ngIf="api.isLoggedIn" translate>Clients</button>
  <button mat-menu-item routerLink="operations" *ngIf="api.isLoggedIn" translate>Transactions</button>
</mat-menu>
