<div class="start-content">
  <div class="card w-full flex items-center justify-center">
    <div class="flex flex-col justify-center start-text">
      <p style="font-size: 21px; font-weight: 600" translate>{{'Study new words' | translate}}</p>
      <div style="word-wrap: break-word; font-size: 14px" translate>
        {{ 'In this section you can study the words you added while watching videos or reading texts.' | translate }}
      </div>
      <button class="w-full" style="text-align: center; margin-top: 20px; height: 35px; font-size: 14px" label="{{'Start study' | translate}}" pButton (click)="startStudy()"></button>
    </div>
  </div>
</div>
