<div class="container">
  <h1 translate>Edit user profile</h1>
  <p class="note">{{'User id' | translate}} {{user?.id}}</p>
  <ng-container *ngIf="errors.length > 0">
    <mat-card *ngFor="let err of errors"
              class="err-alert">
      <mat-card-content>{{err.message}}</mat-card-content>
    </mat-card>
  </ng-container>

  <div class="container">
    <form [formGroup]="userProfile">
      <input type="hidden" formControlName="id" [ngModel]="user?.id">

      <mat-form-field class="form-item">
        <input
          matInput
          required
          formControlName="name"
          [ngModel]="user?.name"
          placeholder="{{'Name' | translate}}">
        <mat-error *ngIf="checkError('name')">{{getError('name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          formControlName="company"
          [ngModel]="user?.company"
          placeholder="{{'Company' | translate }}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          formControlName="site"
          [ngModel]="user?.site"
          placeholder="{{'Site' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          formControlName="telephone"
          [ngModel]="user?.telephone"
          placeholder="{{'Phone' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          required
          formControlName="email"
          [ngModel]="user?.email"
          placeholder="{{'Email' | translate}}">
        <mat-error *ngIf="checkError('email')">{{getError('email')}}</mat-error>
      </mat-form-field>

      <div class="form-item">
        <mat-checkbox
          formControlName="isServicePaused"
          [ngModel]="isServicePaused">{{'Is service paused' | translate}}
        </mat-checkbox>
      </div>

      <mat-form-field class="form-item">
        <input
          matInput
          [ngModel]="user?.wmr"
          formControlName="wmr"
          placeholder="{{'WMR wallet' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          formControlName="balance"
          [value]="user?.balance"
          placeholder="{{'Balance' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          formControlName="balancePartner"
          [value]="user?.balancePartner"
          placeholder="{{'Partner Balance' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          [ngModel]="user?.registerIp"
          formControlName="registerIp"
          placeholder="{{'Register IP' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          [ngModel]="user?.lastLoginIp"
          formControlName="lastLoginIp"
          placeholder="{{'Last login IP' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input
          matInput
          [value]="user?.addedDateTime"
          [readonly]="true"
          placeholder="{{'Date of creation' | translate}}">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label translate>Timezone</mat-label>
        <mat-select [ngModel]="selectedTimeZone" formControlName="timezone" >
          <mat-optgroup *ngFor="let tzgroup of timeZones" [label]="tzgroup.group">
            <mat-option *ngFor="let zone of tzgroup.zones" [value]="zone.value">{{zone.value}}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <div class="form-item">
        <mat-checkbox
          (change)="onPasswordFlagChange()">{{'Is need to password change' | translate}}
        </mat-checkbox>
      </div>

      <div [ngClass]="{'hidden': !isChangePassword, 'foldable': isChangePassword}">
        <ng-container *ngIf="isChangePassword">
          <mat-form-field class="form-item">
            <input
              matInput
              required
              formControlName="password"
              placeholder="{{'Password' | translate}}">
            <mat-error *ngIf="checkError('password')">{{ getError('password') }}</mat-error>
          </mat-form-field>

          <mat-form-field class="form-item">
            <input
              matInput
              required
              formControlName="passrepeat"
              placeholder="{{'Repeat password' | translate}}">
            <mat-error *ngIf="checkError('passrepeat')">{{getError('passrepeat')}}</mat-error>
          </mat-form-field>
        </ng-container>
      </div>

    </form>

    <a
      [disabled]="!userProfile.valid"
      color="primary"
      (click)="onProfileSave()"
      mat-flat-button>
      {{'Save' | translate}}
    </a>

  </div>
  <div class="container">
    <h2 translate>Actions</h2>
    <a
      class="action-item"
      routerLink="/admin/create-transaction"
      mat-flat-button
      color="primary">{{'Add transaction' | translate}}</a>
    <a
      class="action-item"
      (click)="recalculatePartnerBalance()"
      color="primary"
      mat-flat-button>{{'Recalculate partner balance' | translate}}</a>
    <a
      class="action-item"
      mat-flat-button
      color="warn"
      (click)="openAsUser()"
      translate>Open as user</a>
  </div>
</div>
