// style for main layout without breadcrumbs
$active-color: #9CCC65;

.layout-wrapper {
  .layout-main {
    padding-top: 64px;

    .layout-content {
      @media (min-width: 768px) {
        padding: 17px 17px 82px 17px;
        min-height: calc(100vh - 65px);
        box-sizing: border-box;
      }
    }

    .layout-topbar {
      top: 0;
    }

    .layout-breadcrumb {
      padding: 0;
    }

    .layout-footer {
      height: 100%;
      box-sizing: border-box;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }


      & > span {
      }

      .footer-text-right {
        @media (min-width: 768px) {
          margin-top: 0;
        }

        @media (max-width: 767px) {
          display: block;
          float: none;
          margin-top: 10px;
        }
      }
    }
  }

  .layout-sidebar {
    .sidebar-logo .app-name {
      font-size: 16px;
      margin-left: 5px;
    }

    .layout-menu {
      li > a {
        i.layout-submenu-toggler {
          right: 8px;
        }
        & > .menuitem-text {
          max-width: calc(100% - 24px);
        }
      }
    }
  }
}
.custom-topbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .topbar-item {
    color: #fff;
    font-size: 13px;

    a {
      //color: #9CCC65;
      font-size: 13px;
      color: #fff;
    }
    @media (max-width: 1024px) {
      padding: 10px 15px;
      font-size: 14px;

      & , a {
        color: inherit;
      }
    }
  }
}

app-footer {
  @media (min-width: 768px) {
    height: 65px;
    margin-top: -65px;
    display: block;
  }
}

.layout-content > * > .container:last-child {
  margin-bottom: 0;
}

.card h1:first-child {
  margin-top: 0;
}


.wrap-table {
  width: 100%;
  overflow-x: auto;

  /*@media (max-width: 991px) {
    & > table {
      min-width: 500px!important;
    }
  }*/
}

.custom-breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: -17px -17px 16px -17px;
  box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
  background: #fff;

  li {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
  }
  a {
    display: inline-flex;
    transition: color 0.4s;

    &:hover {
      color: $active-color;
    }
  }
  &, a {
    color: #757575;
  }
}

.err-msg {
  margin: 10px 0;
  color: red;
}
