// style for main layout without breadcrumbs
.layout-wrapper {
  .layout-main {
    padding-top: 64px;
    .layout-content {
      //padding-top: 64px;
    }
    .layout-topbar {
      top: 0;
    }
  }
  .layout-sidebar .sidebar-logo .app-name {
    font-size: 16px;
    margin-left: 5px;
  }
}

.custom-topbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .topbar-item {
    color: #fff;
    font-size: 13px;
  }
}
