// style for main layout without breadcrumbs
.layout-wrapper {
  .layout-main {
    padding-top: 64px;

    .layout-content {
      @media (min-width: 1025px) {
        padding: 17px 17px 82px 17px;
        min-height: calc(100vh - 65px);
        box-sizing: border-box;
      }
    }

    .layout-topbar {
      top: 0;
    }

    .layout-breadcrumb {
      padding: 0;
    }
  }

  .layout-sidebar {
    .sidebar-logo .app-name {
      font-size: 16px;
      margin-left: 5px;
    }

    .layout-menu {
      li > a {
        i.layout-submenu-toggler {
          right: 8px;
        }
        & > .menuitem-text {
          max-width: calc(100% - 24px);
        }
      }
    }
  }
}
.custom-topbar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .topbar-item {
    color: #fff;
    font-size: 13px;

    a {
      //color: #9CCC65;
      font-size: 13px;
      color: #fff;
    }
    @media (max-width: 1024px) {
      padding: 10px 15px;
      font-size: 14px;

      & , a {
        color: inherit;
      }
    }
  }
}

app-footer {
  @media (min-width: 1025px) {
    height: 65px;
    margin-top: -65px;
    display: block;

    .layout-footer {
      height: 100%;
      box-sizing: border-box;

      & > span {
        display: inline-flex;
        margin-top: 10px;
      }
    }
  }
}

.layout-content > * > .container:last-child {
  margin-bottom: 0;
}

.card h1:first-child {
  margin-top: 0;
}


.wrap-table {
  width: 100%;
  overflow-x: auto;

  /*@media (max-width: 991px) {
    & > table {
      min-width: 500px!important;
    }
  }*/
}
