<div class="container">
  <div *ngIf="isLoaded">
    <div *ngIf="cards !== null">
      <button mat-flat-button class="other-mnemonic-button" color="primary" *ngIf="checkYourself"
              (click)="onChangeMnemonic(true)">{{ 'OtherMnemonics' | translate }}</button>

      <div class="main_block">
        <div class="hh1">{{ cards.original_word }}</div>
        <div class="info" *ngIf="checkYourself">
          <div class="translate">{{ cards.word_translate }}</div>
          <div class="on_kun">
            On`yomi: {{ cards.word_on }} <br>
            Kun`yomi: {{ cards.word_kun }}
          </div>
          <div class="words" *ngIf="cards.words.length > 0">
            <div *ngFor="let word of cards.words">
              {{ word.original_word }} ({{ word.dictionaryWord.sourceData.kana[0].text }}) {{ word.translate_word }}
            </div>
          </div>

          <div class="mnemonic">
            <ng-container *ngIf="cards.mnemonic.images !== null && cards.mnemonic.text === null">
              <img src="{{ cards.mnemonic.images }}" alt="">
            </ng-container>

            <ng-container *ngIf="cards.mnemonic.text !== null && cards.mnemonic.images === null">
              <p>{{ cards.mnemonic.text }}</p>
            </ng-container>

            <ng-container *ngIf="cards.mnemonic.text === null && cards.mnemonic.images === null">
              <p>{{ 'No mnemonic' | translate }}</p>
            </ng-container>
          </div>

          <app-modal-mnemonic [elem]="cards" [status]="openModal" (closeModal)="onChangeMnemonic(false)">
          </app-modal-mnemonic>
        </div>
      </div>

      <app-navigate-action-card (clickActionCardButton)="checkButton($event)"></app-navigate-action-card>
    </div>

    <div *ngIf="cards === null" style="display:flex;justify-content:center;align-items:center;">
      <h1 translate *ngIf="!endTraining">No user dictionary kanji</h1>
      <h1 translate *ngIf="endTraining">{{ endTrainingText }}</h1>
    </div>
  </div>

  <mat-card *ngIf="!isLoaded" style="display:flex;justify-content:center;align-items:center;">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
