<div class="flex flex-col items-center justify-center w-full">
  <div class="flex w-full" style="margin-bottom: 15px" *ngFor="let answer of isAnswered && card?.question?.openAnswers ? card?.question?.openAnswers : card?.question?.answers; let i = index">
    <div style="flex: 1" class="justify-center hidden md:flex">
      <span style="font-size: 13px">{{ i + 1 }}</span>
    </div>
    <div style="flex: 1" class="flex justify-center items-center" *ngIf="answer?.audioUrls?.[0]">
      <i class="pi pi-volume-up play-audio-button text-2xl leading-none" (click)="audioService.play(answer?.audioUrls?.[0])"></i>
    </div>
    <div
      style="flex: 4"
      class="answer-default cursor-pointer p-4 py-2 min-h-[5rem] flex items-center justify-center text-center text-black"
      (click)="checkAnswer(i + 1)"
      [ngClass]="{
        'answer-correct': isAnswered && answer?.isCorrectAnswer,
        'answer-incorrect': isAnswered && !isAnsweredCorrectly && i === answeredIndex - 1,
        'text-[18px]': !answer?.useBigFont,
        'text-[24px]': answer?.useBigFont
      }"
      [innerHTML]="answer?.contentHtml ? answer?.contentHtml : ('select-audio-n' | translate: { value: i + 1 })"
    ></div>
  </div>
  <div class="flex w-full" style="margin-bottom: 15px">
    <div style="flex: 1" class="hidden md:flex"></div>
    <div style="flex: 4" class="flex items-center justify-center">
      <button style="width: 100%; height: 35px; font-size: 15px" pButton type="button" label="{{ 'I don\'t remember' | translate }}" (click)="forgotAnswer()" *ngIf="!isAnswered; else continueButton"></button>
    </div>
  </div>
</div>

<ng-template #continueButton>
  <button style="width: 100%; height: 35px; font-size: 15px" pButton type="button" label="{{ 'Continue' | translate }}" (click)="continueTraining()"></button>
</ng-template>
