<div class="card w-full p-0">
  <div class="flex flex-wrap md:flex-nowrap">
    <div class="basis-full md:basis-1/2 p-8 pb-0">
      <app-drill-word [card]="card" [isAnswered]="state.isAnswered"></app-drill-word>
    </div>
    <div class="basis-full md:basis-1/2 p-8 pb-0">
      <app-drill-answer-buttons [card]="card" [(isAnswered)]="state.isAnswered" [(answeredIndex)]="state.answeredIndex" [(isAnsweredCorrectly)]="state.isAnsweredCorrectly"></app-drill-answer-buttons>
    </div>
  </div>
  <div class="w-full" style="margin: 0; padding: 12px 16px">
    <div class="flex items-center justify-start">
      <button style="height: 35px; font-size: 15px" pButton type="button" label="{{ 'Disable questions with audio for 1 hour' | translate }}" class="ellipsis-btn" (click)="cardsService.disableAudioQuestionsFor1Hour()"></button>
    </div>
  </div>
  <div class="w-full" style="margin: 0; padding: 12px 16px">
    <div class="flex items-center justify-start">
      <p style="color: #a0b0c4; font-size: 14px">{{ state.isAnswered ? ('Explanation: take a look at the correct answer and then click "Continue".' | translate) : ('Explanation: select word with this meaning.' | translate) }}</p>
    </div>
  </div>
</div>