$primaryLightColor: #ffc1c7; //#4d9fdc;
$primaryColor: #ff8289;
$primaryDarkColor: #b5565f;
$primaryDarkerColor: #6b3338;
$primaryTextColor: #f8fafc;
$borderRadius: 8px;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import "../../sass/theme/_theme_light";
