.layout-menu-dark {
    $menuBgColor:#434B54;
    $menuShadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);

    $rootMenuTextColor:#CDD2DB;

    $rootMenuItemTextColor:#E5E8EC;
    $rootMenuItemHoverBgColor:#4E565F;
    $activeRootMenuItemTextColor:#ffffff;
    $menuItemIconColor:#E5E8EC;

    $submenuItemTextColor:#E5E8EC;
    $submenuItemHoverBgColor:#676E77;
    $activeSubmenuItemTextColor:#ffffff;

    $externalSubmenuBgColor:#434B54;


    @import '../_menu_theme';
}

