.layout-menu-dark {
    $menuBgColor:#434B54;
    $menuShadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);

    $rootMenuTextColor:#9A9CAA;

    $rootMenuItemTextColor:#E5E8EC;
    $rootMenuItemHoverBgColor:#4E565F;
    $activeRootMenuItemTextColor:#ffffff;
    $menuItemIconColor:#E5E8EC;

    $submenuItemTextColor:#64697D;
    $submenuItemHoverBgColor:#FFF2F3;
    $activeSubmenuItemTextColor:#FF8289;

    $externalSubmenuBgColor:#434B54;


    @import '../_menu_theme';
}

