.layout-menu-dim {
    $menuBgColor:#3C4962;
    $menuShadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);

    $rootMenuTextColor:#9A9CAA;

    $rootMenuItemTextColor:#E5E8EC;
    $rootMenuItemHoverBgColor:#495771;
    $activeRootMenuItemTextColor:#ffffff;
    $menuItemIconColor:#E5E8EC;

    $submenuItemTextColor:#64697D;
    $submenuItemHoverBgColor:#FFF2F3;
    $activeSubmenuItemTextColor:#FF8289;

    $externalSubmenuBgColor:lighten(#3C4962, 3%);

    @import '../_menu_theme';
}

