$primaryLightColor: #91CC72;
$primaryColor: #62AB47;
$primaryDarkColor: #479333;
$primaryDarkerColor: #2F7B23;
$primaryTextColor: #f8fafc;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import '../../sass/theme/_theme_light';
