.main-card {
    width: 60%;
    min-height: 60vh;
}

.card-top {
    flex: 1;
}

.question {
    font-size: 34px;
}
.answer {
    font-size: 28px;
}

.words {
    border-top: 1px solid #E4E5E5;
}

.words ruby {
    font-size: 28px;
}