<div class="card p-0 flex flex-wrap md:flex-nowrap">
  <div [ngStyle]="{ 'background-image': item?.imageUrl ? 'url(' + item?.imageUrl + ')' : null }" class="image w-full md:w-[290px] p-shadow-1" [ngClass]="{ 'p-skeleton': !item?.id }"></div>
  <div class="p-ml-3" class="right md:ml-4 p-4 flex flex-col justify-between">
    <!--<div>
              <p-tag *ngFor="let tag of item.tagsJson" [value]="tag" styleClass="p-mr-2 p-mb-2"></p-tag>
            </div>-->
    <div class="pb-2">
      <p-skeleton *ngIf="!item?.id" height="2rem" styleClass="mb-2"></p-skeleton>
      <a class="title" [title]="item?.title" [routerLink]="['/content/view', item?.id]" lang="ja">{{ item?.title }}</a>
    </div>
    <div>
      <div class="pb-2">
        <p-tag *ngIf="item?.dataJson?.youtubeVideo?.channel?.title" [value]="item?.dataJson.youtubeVideo.channel.title" class="p-mr-2"></p-tag>
      </div>
      <div class="flex justify-between">
        <div>
          <p-chip *ngIf="item?.level > 0" [label]="'JLPT N' + item?.level" class="p-mr-2"></p-chip>
          <!--<p-chip *ngIf="item.dataJson?.youtubeVideo?.wilsonScore" [label]="this.showRating(item)" class="p-mr-2"></p-chip>-->
        </div>
        <div>
          <a pButton label="Open" [routerLink]="item?.id ? ['/content/view', item?.id] : null"></a>
        </div>
      </div>
    </div>
  </div>
</div>
