<div class="container">
  <div class="card">
    <h1 translate>Clients</h1>
    <div class="wrap-table">
      <table mat-table [dataSource]="clientsDataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="partnerEarned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Earned' | translate}}</th>
        <td mat-cell *matCellDef="let row">{{row.partnerEarned | formatCurrency : session.language}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>

    </table>
    </div>
    <mat-card *ngIf="!isLoaded"
              style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner
          color="primary"
          mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>

    <div class="container" *ngIf="isEmptyTable && isLoaded">
      <h3>{{'No records found' | translate}}</h3>
    </div>
  </div>
</div>
