<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card no-margin">
        <h1>Title h1</h1>
        <p>Lorem ipsum dolor sit amet, <a href="">Link text</a> adipisicing elit. Deleniti, veritatis.</p>
        <p>Lorem <strong>Strong text</strong> elit. Deleniti, veritatis.</p>
        <h2>Title h2</h2>
        <img src="assets/layout/images/landing/landing-header.png" alt="">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
        </ul>
        <h3>Title h3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dicta exercitationem odit omnis porro
          praesentium qui sunt? Aliquid, commodi molestiae!</p>
        <img src="assets/layout/images/dashboard/bridge.png" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur.
        </p>
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, debitis!</li>
        </ol>
      </div>
    </div>
  </div>
</div>
