<div class="container">
  <div class="card">
    <h4>Subscription status</h4>

    <p-messages severity="success" *ngIf="paymentMethods && paymentMethods.length > 0 && user?.isPaid">
      <ng-template pTemplate>
        <div>
          <h4 translate>All ok!</h4>
          <p [translate]="'ActiveSubscriptionUntil'" [translateParams]="{until: user?.paidUntilDateTime | formatDate: session.language}"></p>
        </div>
      </ng-template>
    </p-messages>
    <p-messages severity="info" *ngIf="(!paymentMethods || paymentMethods.length == 0) && user?.isPaid">
      <ng-template pTemplate>
        <div>
          <h4 translate>You need to add payment method</h4>
          <p [translate]="'ActiveSubscriptionPaymentMethod'" [translateParams]="{until: user?.paidUntilDateTime | formatDate: session.language}"></p>
        </div>
      </ng-template>
    </p-messages>
    <p-messages severity="info" *ngIf="!user?.isPaid && user?.paidUntilDateTime != '2000-01-01 00:00:00'">
      <ng-template pTemplate>
        <div>
          <h4 translate>Subscribtion ended</h4>
          <p [translate]="'EndedSubscriptionUntil'" [translateParams]="{until: user?.paidUntilDateTime | formatDate: session.language}"></p>
        </div>
      </ng-template>
    </p-messages>
    <p-messages severity="info" *ngIf="!user?.isPaid && user?.paidUntilDateTime == '2000-01-01 00:00:00'">
      <ng-template pTemplate>
        <div>
          <h4 translate>Let's start!</h4>
          <p [translate]="'FirstSubscription'"></p>
        </div>
      </ng-template>
    </p-messages>
    <p-messages severity="error" *ngIf="!tryingToProlong && paymentMethods && paymentMethods.length > 0 && !user?.isPaid">
      <ng-template pTemplate>
        <div>
          <h4 translate>Failed payment</h4>
          <p translate>Failed to prolong subscription. Please check your payment methods and try again.</p>
          <button pButton color="primary" (click)="prolongSubscription()" label="{{'Try again' | translate}}"></button>
        </div>
      </ng-template>
    </p-messages>

    <h4 translate>Billing settings</h4>
    <div *ngIf="enableBalanceTopup">
      <form [formGroup]="paymentForm">

        <div class="p-fluid">
          <div class="p-field g-field">
            <label for="amount">{{'Amount' | translate}}</label>
            <input id="amount" formControlName="amount" pInputText type="text" placeholder="{{'Amount' | translate}}" />
          </div>
        </div>

        <p-message *ngIf="!paymentForm.valid" severity="error" [text]="getError()"></p-message>

        <div class="p-mt-3">
          <button pButton color="primary" [disabled]="!paymentForm.valid" (click)="onPayment()" label="{{'Pay' | translate}}"></button>
        </div>
      </form>
    </div>
    <div *ngIf="enableSquare">
      <h5>{{ 'Add new card' | translate }}</h5>
      <app-square-form (updatedListEvent)="receiveUpdatedPaymentMethods($event)"></app-square-form>
    </div>
    <div *ngIf="enableStripe" class="max-w-lg">
      <h5>{{ 'Add new card' | translate }}</h5>
      <app-stripe-form (updatedListEvent)="receiveUpdatedPaymentMethods($event)"></app-stripe-form>
    </div>
    <div *ngIf="showPaymentMethods && paymentMethods && paymentMethods.length > 0" class="g-field">
      <h5 class="p-mt-3">{{ 'Your payment methods' | translate }}</h5>
      <p-toolbar *ngFor="let method of paymentMethods" styleClass="p-mt-3">
        <div class="p-toolbar-group-left">
          {{ method.title }}
        </div>

        <div class="p-toolbar-group-right">
          <button pButton (click)="deletePaymentMethod($event, method.id)" label="{{'Delete' | translate}}" icon="pi pi-trash" class="p-button-danger"></button>
        </div>
      </p-toolbar>
    </div>
  </div>
  <div class="card" *ngIf="rows && rows.length > 0">
    <h4 translate>Transactions history</h4>
    <app-payments-table [pageSize]="50" [isShowComment]="true" [moneyTitle]="'Amount' | translate" [rows]="rows" [isPaginator]="true"></app-payments-table>
  </div>
</div>
