$primaryLightColor: #E5B56E;
$primaryColor:#D49341;
$primaryDarkColor: #B6742F;
$primaryDarkerColor: #985820;
$primaryTextColor: #f8fafc;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import '../../sass/theme/_theme_light';
