<div class="container">
  <div class="card">
    <h4 translate>Settings</h4>
    <p class="note">{{'Your ID' | translate}}: {{user?.id}}</p>

    <p-messages severity="error" *ngIf="errors.length > 0">
      <ng-template pTemplate>
        <div>
          <div *ngFor="let err of errors">
            {{err.message}}
          </div>
        </div>
      </ng-template>
    </p-messages>

    <div class="container">
      <form [formGroup]="settingsForm">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="language">


        <div class="p-fluid">
          <div class="p-field g-field">
            <label for="name">{{'Name' | translate}}</label>
            <input id="name" formControlName="name" pInputText type="text" />
            <small class="p-invalid" *ngIf="checkError('name')">{{getError('name')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="email">{{'Email' | translate}}</label>
            <input id="email" formControlName="email" pInputText type="text" />
            <small class="p-invalid" *ngIf="checkError('email')">{{getError('email')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="timezone">{{'Timezone' | translate}}</label>
            <p-dropdown formControlName="timezone" inputId="state" [options]="timeZones" placeholder="Select" [group]="true" [filter]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="checkError('timezone')">{{getError('timezone')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="languages">{{'Languages' | translate}}</label>
            <p-multiSelect formControlName="languages" [options]="languages" display="chip" [placeholder]="languagesPlaceholder" [showToggleAll]="false"></p-multiSelect>
            <small class="p-invalid" *ngIf="checkError('languages')">{{getError('languages')}}</small>
          </div>

          <div class="form-item">
            <p-checkbox (change)="onPasswordFlagChange()" [label]="'Change password' | translate"></p-checkbox>
          </div>
  
          <div [ngClass]="{'hidden': !isChangePassword, 'foldable': isChangePassword}">
            <ng-container *ngIf="isChangePassword">
              <div class="p-field g-field">
                <label for="password">{{'Email' | translate}}</label>
                <input id="password" formControlName="password" pInputText type="text" />
                <small class="p-invalid" *ngIf="checkError('password')">{{getError('password')}}</small>
              </div>
              <div class="p-field g-field">
                <label for="passrepeat">{{'Email' | translate}}</label>
                <input id="passrepeat" formControlName="passrepeat" pInputText type="text" />
                <small class="p-invalid" *ngIf="checkError('passrepeat')">{{getError('passrepeat')}}</small>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="p-mt-3">
          <button (click)="onSubmit(settingsForm.value)" color="primary" [disabled]="!settingsForm.valid" pButton label="{{'Save' | translate}}"></button>
        </div>
      </form>
    </div>
  </div>
</div>