<div class="container">
  <div class="card">
    <h1 translate>Settings</h1>
    <p class="note">{{'Your ID' | translate}}: {{user?.id}}</p>

    <ng-container *ngIf="errors.length > 0">
      <mat-card *ngFor="let err of errors" class="err-alert">
        <mat-card-content>{{err.message}}</mat-card-content>
      </mat-card>
    </ng-container>

    <div class="container">
      <form [formGroup]="settingsForm">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="language">


        <div class="p-fluid">
          <div class="p-field g-field">
            <label for="name">{{'Name' | translate}}</label>
            <input id="name" formControlName="name" pInputText type="text" />
            <small class="p-invalid" *ngIf="checkError('name')">{{getError('name')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="email">{{'Email' | translate}}</label>
            <input id="email" formControlName="email" pInputText type="text" />
            <small class="p-invalid" *ngIf="checkError('email')">{{getError('email')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="timezone">{{'Timezone' | translate}}</label>
            <p-dropdown formControlName="timezone" inputId="state" [options]="timeZones" placeholder="Select" [group]="true" [filter]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="checkError('timezone')">{{getError('timezone')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="main_language">{{'Native (main) language' | translate}}</label>
            <p-dropdown formControlName="main_language" inputId="state" [options]="languages" placeholder="Select" optionLabel="title" optionValue="id" [filter]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="checkError('main_language')">{{getError('main_language')}}</small>
          </div>

          <div class="p-field g-field">
            <label for="language1">{{'Language 1' | translate}}</label>
            <p-dropdown formControlName="language1" inputId="state" [options]="languages" placeholder="Select" optionLabel="title" optionValue="id" [filter]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="checkError('language1')">{{getError('language1')}}</small>
          </div>

          <div class="p-field g-field" *ngIf="addLanguage2">
            <label for="language2">{{'Language 2' | translate}}</label>
            <p-dropdown formControlName="language2" inputId="state" [options]="languages" placeholder="Select" optionLabel="title" optionValue="id" [filter]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="checkError('language2')">{{getError('language2')}}</small>
          </div>

          <div class="p-field g-field" *ngIf="addLanguage3">
            <label for="language3">{{'Language 3' | translate}}</label>
            <p-dropdown formControlName="language3" inputId="state" [options]="languages" placeholder="Select" optionLabel="title" optionValue="id" [filter]="true"></p-dropdown>
            <small class="p-invalid" *ngIf="checkError('language3')">{{getError('language3')}}</small>
          </div>

          <div class="form-item">
            <p-checkbox (change)="onPasswordFlagChange()" [label]="'Change password' | translate"></p-checkbox>
          </div>
  
          <div [ngClass]="{'hidden': !isChangePassword, 'foldable': isChangePassword}">
            <ng-container *ngIf="isChangePassword">
              <div class="p-field g-field">
                <label for="password">{{'Email' | translate}}</label>
                <input id="password" formControlName="password" pInputText type="text" />
                <small class="p-invalid" *ngIf="checkError('password')">{{getError('password')}}</small>
              </div>
              <div class="p-field g-field">
                <label for="passrepeat">{{'Email' | translate}}</label>
                <input id="passrepeat" formControlName="passrepeat" pInputText type="text" />
                <small class="p-invalid" *ngIf="checkError('passrepeat')">{{getError('passrepeat')}}</small>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="p-mt-3">
          <button (click)="onSubmit(settingsForm.value)" color="primary" [disabled]="!settingsForm.valid" pButton label="{{'Save' | translate}}"></button>
        </div>
      </form>
    </div>
  </div>
</div>