<div class="layout-wrapper layout-wrapper-static" (click)="onWrapperClick()"
     [ngClass]="{'layout-wrapper-active': mobileMenuActive, 'layout-menu-horizontal': layoutMode === 'horizontal'}">

    <app-menu [reset]="resetMenu"></app-menu>
    <div class="layout-main">
        <app-topbar></app-topbar>

        <div class="layout-content">
            <app-hoc-bread-crumb></app-hoc-bread-crumb>
            <app-notifications></app-notifications>
            <ng-content></ng-content>
        </div>

        <app-footer></app-footer>
        <div class="layout-main-mask" *ngIf="mobileMenuActive"></div>
    </div>

</div>
