// common tables
table {
  width: 100%;
}

td, th {
  width: 25%;
}

.edit-link {
  cursor: pointer;
  &:hover {
    color: #039be5;
  }
}

.filter-container {
  overflow: hidden;
  height: 220px;
  padding-bottom: 5px;
  transition: height .5s ease-in-out;
}

.folded {
  height: 0;
}

.wrap-table {
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    width: 50px !important;
  }

  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type,
  th.mat-header-cell:last-of-type {
    width: 50px !important;
  }

  td.mat-cell:nth-child(6) {
    min-width: 200px;
  }
  td.mat-cell:nth-child(7) {
    min-width: 125px;
  }

}
