$gutter: 1rem; //for primeflex grid system
$fontSize: 14px;
$fontFamily: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "assets/theme/denim/theme-light.scss";
@import "assets/layout/css/layout-light.scss";
//@import "../node_modules/prismjs/themes/prism-coy.css";
//@import "../node_modules/@fullcalendar/core/main.min.css";
//@import "../node_modules/@fullcalendar/daygrid/main.min.css";
//@import "../node_modules/@fullcalendar/timegrid/main.min.css";

.layout-menu a {
  outline: 0 none;
}

.p-toast-icon-close {
  flex-shrink: 0;
}

.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > .topbar-submenu > .p-slidemenu {
  position: absolute;
  top: 46px !important;
  right: 0px;
  left: auto !important;
}

.menu-wrapper .layout-menu-container .layout-menu .layout-root-menuitem li > ul > li.active-menuitem.layout-root-menuitem > a.active-menuitem-routerlink {
  border-bottom-left-radius: 0;
}

.ui-toast-detail {
  white-space: pre-line;
}

a.p-button:hover {
  background: $buttonHoverBg;
  color: $buttonTextHoverColor;
  border-color: $buttonHoverBorderColor;
}

.g-field {
  max-width: 400px;
}

.g-field-big {
  max-width: 600px;
}

.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left {
  display: block;
  padding: 7px 14px 5px;
}

.layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left .layout-topbar-logo > img {
  height: 40px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  overflow-wrap: anywhere;
}

.square-card-container {
  max-width: 550px;
  min-width: 300px;
  min-height: 90px;
}

@media screen and (max-width: 500px) {
  .square-card-container {
    min-height: 140px;
  }
}

@media (max-width: 767px) {
    .layout-wrapper .layout-main .layout-content {
        padding: 0;
    }

    .layout-breadcrumb {
        padding: 12px 16px;
    }

    .card {
        border-radius: 0;
    }
}

@media screen and (max-width: 767px) {
  .layout-footer {
      flex-direction: column;
      align-items: start;

      .footer-text-right {
          margin-top: 12px;
      }
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-layout {
  display: flex;

  &__row {
    flex-direction: row;
  }

  &__col {
    flex-direction: column;
  }

  &__a-c {
    align-items: center;
  }

  &__a-s {
    align-items: flex-start;
  }

  &__j-c {
    justify-content: center;
  }

  &__j-s {
    justify-content: flex-start;
  }

  &__j-e {
    justify-content: flex-end;
  }
}

.no-padding {
  padding: 0;
}

.text-black {
  color: black;
}

.text-gray {
  color: #a0b0c4;
}

.ellipsis-btn {
  background: white;
  border: 1px solid #5397d5;
  color: #5397d5;
}

.question-highlight {
  background-color: #2196f3;
  color: white;
}

.word-highlight {
  text-decoration: underline;
  text-decoration-color: #8fcaf9;
  text-decoration-thickness: 2px;
}

.question-blank-box {
  padding: 0 20px;
  background-color: #2196f3;
  color: white;
  font-size: 16px;
  border-bottom: 2px solid #757575;
}

.question-blank-box:before {
  content: "?";
}

.rt-gray {
  color: #acacac;
}

.rt-furigana-font {
  font-size: 18px;
}

.rt-furigana-font-large {
  font-size: 20px;
}

.rt-furigana-font-small {
  font-size: 16px;
}

.rt-furigana-font-tiny {
  font-size: 13px;
}
/*
$color-blue-link: #039be5;
$color-red-danger: #f44336;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 500;
}

.container {
  padding: 10px;
  margin-bottom: 20px;
}

.notation {
  font-size: 20px;
}

.form-item {
  width: 100%;
  margin-bottom: 20px;

  mat-form-field {
    min-width: 40%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.form-item-link {
  color: $color-blue-link;
}

// alert at the forms-top
.err-alert {
  background-color: $color-red-danger;
}

// flat input field
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

snack-bar-container.snack-error {
  background: $color-red-danger;
  color: #fff;
  //color: rgba(0,0,0,.87);
}

mat-progress-bar.mat-progress-bar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}


.container {
  .container {
    padding: 0;
  }
}*/

/*
.block_center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  min-width: 1000px;
  margin: 10px auto;

  button {
    width: 250px;
  }
}

.filter-dictionary {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  padding-left: 24px;

  .all-select-checkbox {
    padding-top: 10px;
  }

  .filter-select-button,
  .filter-delete-button,
  .type-training {
    margin-left: 20px;
  }

  .active_button {
    background: #00d729;
  }

  .dictionary-button-filter {
    margin-left: auto;

    .filter-button {
      width: 130px;
      margin: 0 10px;
    }
  }
}

.table-dictionary {
  width: 100%;

  .table-id {
    width: 40px;
  }

  .table-word,
  .table-literal {
    text-align: left;
    padding-left: 20px;
  }

  .table-word {
    width: 160px;
  }

  .table-literal {
    width: 270px;
  }

  .table-translate-word{
    padding: 7px 0;
  }

  .table-workout-progress {
    width: 75px;
    text-align: center;
  }

  .table-button {
    width: 80px;
  }
}

.main_block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  min-height: 50vh;

  .hh1 {
    font-size: 8rem;
  }

  .info {
    margin: 10px 0;
    max-width: 800px;
    text-align: center;

    .translate,
    .on_kun {
      margin: 10px 0;
    }

    .words {
      margin-top: 20px;
    }

    .mnemonic {
      display: flex;
      flex-flow: column;
      margin: 20px auto;

      width: 400px;
      height: 250px;

      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }

      .createMnemonic {
        text-decoration: none;
      }

      .createMnemonic:hover {
        text-decoration: underline;
      }
    }
  }
}

.other-mnemonic-button {
  float: right;
  margin-top: -36px !important;
}

.modal {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: auto;
  margin: 0;
  padding: 0;

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: .3rem;
      outline: 0;

      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #eceeef;
      }

      .modal-title {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 500;
      }

      .close {
        float: right;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        text-decoration: none;
      }

      .close:focus,
      .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
      }

      .modal-body {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .mnemonics {
          display: flex;
          flex-flow: row wrap;

          .mnemonic_box {
            display: flex;
            flex-flow: column;
            margin: 10px;

            padding: 15px;

            &.active {
              border: 1px solid #000;
            }

            .image_text {
              width: 200px;
              height: 200px;

              img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
              }
            }

            .rating {
              height: 40px;
              margin: 10px;

              .count_rating {
                margin: 10px;
              }

              .plus {
                &.active {
                  border: 1px solid #02c108;
                }
              }

              .minus {
                &.active {
                  border: 1px solid #02c108;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 1024px;
      margin: 30px auto;
      min-width: 250px;
    }
  }

  @media (max-width: 576px) {
    .modal-dialog {
      margin: 30px auto;
      width: 95%;
    }
  }
}
*/
