<div class="container">
  <div class="card">
    <h1 translate>Training</h1>
    <div class="filter-dictionary">
      <button mat-flat-button class="type-training" color="primary" [routerLink]="['/training/cards-word-kanji']"
              routerLinkActive="active_button">
        {{ 'CardsWordKanji' | translate }}
      </button>

      <button mat-flat-button class="type-training" color="primary" [routerLink]="['/training/cards-word']"
              routerLinkActive="active_button">
        {{ 'CardsWord' | translate }}
      </button>

      <button mat-flat-button class="type-training" color="primary" [routerLink]="['/training/cards-kanji']"
              routerLinkActive="active_button">
        {{ 'CardsKanji' | translate }}
      </button>

      <button mat-flat-button class="type-training" color="primary" [routerLink]="['/training/word-translate']"
              routerLinkActive="active_button">
        {{ 'WordTranslate' | translate }}
      </button>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
