.action-btn:hover {
  color: #5397d5 !important;
}

.action-btn:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.card-m-t {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .buttons-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
  }

}

@media screen and (min-width: 968px) {

  .buttons-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }

}
