<div class="container">
  <div class="card">
    <h1 translate>Sign up</h1>
    <p></p>

    <ng-container *ngIf="errors.length > 0">
      <p-messages severity="error">
        <ng-template pTemplate>
          <div *ngFor="let err of errors">
            {{err.message}}
          </div>
        </ng-template>
      </p-messages>
    </ng-container>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="timezone">
      <input type="hidden" formControlName="language">
      <input *ngIf="getInvitedId()" type="hidden" formControlName="invitedByUserId">

      <div class="p-fluid">
        <div class="p-field g-field">
          <label for="email">{{'Email' | translate}}</label>
          <input id="email" formControlName="email" pInputText type="text" />
          <small class="p-invalid" *ngIf="checkError('email')">{{getErrors('email')}}</small>
        </div>

        <div class="p-field g-field">
          <label for="password">{{'Password' | translate}}</label>
          <input id="password" formControlName="password" pInputText type="password" />
          <small class="p-invalid" *ngIf="checkError('password')">{{getErrors('password')}}</small>
        </div>
        <div class="p-field g-field">
          <label for="passrepeat">{{'Repeat password' | translate}}</label>
          <input id="passrepeat" formControlName="passrepeat" pInputText type="passrepeat" />
          <small class="p-invalid" *ngIf="checkError('passrepeat')">{{getErrors('passrepeat')}}</small>
        </div>
      </div>

      <div>
        <button (click)="onSubmit()" color="primary" [disabled]="!signupForm.valid" pButton label="{{'Sign up' | translate}}"></button>
      </div>
    </form>
  </div>
</div>