<div class="container">
  <div class="card">
    <h4 translate>Let's try!</h4>
    <p>To continue please enter your name and choose password.</p>

    <ng-container *ngIf="errors.length > 0">
      <p-messages severity="error">
        <ng-template pTemplate>
          <div *ngFor="let err of errors">
            {{err.message}}
          </div>
        </ng-template>
      </p-messages>
    </ng-container>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <div class="p-fluid">
        <div class="p-field g-field">
          <label for="name">{{'Name' | translate}}</label>
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input id="name" formControlName="name" pInputText type="text" />
          </span>
          <small class="p-invalid" *ngIf="checkError('name')">{{getErrors('name')}}</small>
        </div>

        <div class="p-field g-field">
          <label for="email">{{'Email' | translate}}</label>
          <span class="p-input-icon-left">
            <i class="pi pi-envelope"></i>
            <input id="email" formControlName="email" pInputText type="text" />
          </span>
          <small class="p-invalid" *ngIf="checkError('email')">{{getErrors('email')}}</small>
        </div>

        <div class="p-field g-field">
          <label for="password">{{'Choose Password' | translate}}</label>
          <span class="p-input-icon-left">
            <i class="pi pi-lock" style="z-index: 1;"></i>
            <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true" [inputStyle]="{'padding-left': '2rem'}"></p-password>
          </span>
          <small class="p-invalid" *ngIf="checkError('password')">{{getErrors('password')}}</small>
        </div>
        <ng-container *ngIf="!quickSignup">
          <div class="p-field g-field">
            <label for="passrepeat">{{'Repeat password' | translate}}</label>
            <input id="passrepeat" formControlName="passrepeat" pInputText type="passrepeat" />
            <small class="p-invalid" *ngIf="checkError('passrepeat')">{{getErrors('passrepeat')}}</small>
          </div>
        </ng-container>
      </div>

      <div>
        <button color="primary" [disabled]="!signupForm.valid" pButton label="{{'Continue' | translate}}"></button>
      </div>
    </form>
  </div>
</div>