<div class="container">
  <div class="card">
    <h1 translate>Edit user profile</h1>
    <p class="note">{{'User id' | translate}} {{user?.id}}</p>
    <ng-container *ngIf="errors.length > 0">
      <mat-card *ngFor="let err of errors"
                class="err-alert">
        <mat-card-content>{{err.message}}</mat-card-content>
      </mat-card>
    </ng-container>
    <div class="container">
      <form [formGroup]="userProfile">
        <input type="hidden" formControlName="id">

        <mat-form-field class="form-item">
          <input
              matInput
              required
              formControlName="name"
              placeholder="{{'Name' | translate}}">
          <mat-error *ngIf="checkError('name')">{{getError('name')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="company"
              placeholder="{{'Company' | translate }}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="site"
              placeholder="{{'Site' | translate}}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="telephone"
              placeholder="{{'Phone' | translate}}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              required
              formControlName="email"
              placeholder="{{'Email' | translate}}">
          <mat-error *ngIf="checkError('email')">{{getError('email')}}</mat-error>
        </mat-form-field>

        <div class="form-item">
          <mat-checkbox
              formControlName="isServicePaused">{{'Is service paused' | translate}}
          </mat-checkbox>
        </div>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="wmr"
              placeholder="{{'WMR wallet' | translate}}">
        </mat-form-field>
        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="balance"
              [value]="userProfile.get('balance').value | formatNumbers: session.language"
              placeholder="{{'Balance' | translate}}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="balancePartner"
              [value]="userProfile.get('balancePartner').value | formatNumbers: session.language"
              placeholder="{{'Partner Balance' | translate}}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="registerIp"
              placeholder="{{'Register IP' | translate}}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <input
              matInput
              formControlName="lastLoginIp"
              placeholder="{{'Last login IP' | translate}}">
        </mat-form-field>
        <mat-form-field class="form-item">
          <input
              matInput
              [value]="user?.addedDateTime | formatDate: session.language"
              [readonly]="true"
              placeholder="{{'Date of creation' | translate}}">
        </mat-form-field>

        <mat-form-field class="form-item">
          <mat-label translate>Timezone</mat-label>
          <mat-select formControlName="timezone">
            <mat-optgroup *ngFor="let tzgroup of timeZones" [label]="tzgroup.group">
              <mat-option *ngFor="let zone of tzgroup.zones" [value]="zone.value">{{zone.value}}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <div class="form-item">
          <mat-checkbox
              (change)="onPasswordFlagChange()">{{'Is need to password change' | translate}}
          </mat-checkbox>
        </div>

        <div [ngClass]="{'hidden': !isChangePassword, 'foldable': isChangePassword}">
          <ng-container *ngIf="isChangePassword">
            <mat-form-field class="form-item">
              <input
                  matInput
                  required
                  formControlName="password"
                  placeholder="{{'Password' | translate}}">
              <mat-error *ngIf="checkError('password')">{{ getError('password') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-item">
              <input
                  matInput
                  required
                  formControlName="passrepeat"
                  placeholder="{{'Repeat password' | translate}}">
              <mat-error *ngIf="checkError('passrepeat')">{{getError('passrepeat')}}</mat-error>
            </mat-form-field>
          </ng-container>
        </div>

        <div class="form-item">
          <mat-checkbox
              formControlName="isPartner">{{'Enable partner' | translate}}
          </mat-checkbox>
        </div>

        <mat-form-field class="form-item">
          <input
              matInput
              type="number"
              formControlName="invitedByUserId"
              placeholder="{{'Invited user Id' | translate}}">
        </mat-form-field>
        <div class="form-item">
          <mat-checkbox
              formControlName="enablePartnerPayments">{{'Enable payment' | translate}}
          </mat-checkbox>
        </div>
        <div class="form-item">
          <mat-checkbox
              formControlName="frozeEnablePartnerPayments">{{"Froze 'Enable Partner Payments'" | translate}}
          </mat-checkbox>
        </div>
        <mat-form-field class="form-item">
          <mat-label translate>{{'Currency' | translate}}</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let cur of currency" [value]="cur.value">{{cur.label}}({{cur.value}})</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-item">
          <mat-label translate>{{'Language user' | translate}}</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let lang of languages" [value]="lang.value">{{lang.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-item">
          <textarea
              matInput
              formControlName="comment"
              placeholder="{{'Comment'| translate }}">{{user?.comment}}</textarea>
          <mat-error *ngIf="checkError('comment')">{{getError('comment')}}</mat-error>
        </mat-form-field>

      </form>

      <a
          [disabled]="!userProfile.valid"
          color="primary"
          (click)="onProfileSave()"
          mat-flat-button>
        {{'Save' | translate}}
      </a>

    </div>
    <div class="container">
      <h2 translate>Actions</h2>
      <a
          class="action-item"
          routerLink="/admin/transactions/create"
          mat-flat-button
          color="primary">{{'Add transaction' | translate}}</a>
      <a
          class="action-item"
          (click)="recalculatePartnerBalance()"
          color="primary"
          mat-flat-button>{{'Recalculate partner balance' | translate}}</a>
      <a
          class="action-item"
          mat-flat-button
          color="warn"
          (click)="openAsUser()">{{'Open as user' | translate}}</a>
    </div>
  </div>

  <div class="card">
    <div class="container">
      <h2 translate>Transactions</h2>
      <div class="wrap-table">
        <table mat-table [dataSource]="transactionList" matSort #sortTrans="matSort">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>

          <ng-container matColumnDef="money">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Amount' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.money | formatCurrency : session.language}}</td>
          </ng-container>

          <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Currency' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.currency}}</td>
          </ng-container>

          <ng-container matColumnDef="amount in" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Amount in' | translate}} {{baseCurrency}}</th>
            <td mat-cell *matCellDef="let row">{{row.moneyBaseCurrency | formatCurrency : session.language}}</td>
          </ng-container>

          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>{{'Comment' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.comment}}</td>
          </ng-container>

          <ng-container matColumnDef="addedDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Added date' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.addedDateTime | formatDate: session.language}}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>{{'Edit' | translate}}</th>
            <td mat-cell *matCellDef="let row">
              <a [routerLink]="'/admin/transactions/' + row.id" class="edit-link">
                <mat-icon>create</mat-icon>
              </a>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
        <mat-paginator #paginatorTrans (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <h2>{{'Partner transactions' | translate}}</h2>
      <div class="wrap-table">
        <table mat-table [dataSource]="transactionPartnerList" matSort #sortTransPartn="matSort">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>

          <ng-container matColumnDef="money">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Amount' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.money | formatCurrency : session.language}}</td>
          </ng-container>

          <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Currency' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.currency}}</td>
          </ng-container>

          <ng-container matColumnDef="amount in" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Amount in' | translate}}{{baseCurrency}}</th>
            <td mat-cell *matCellDef="let row">{{row.moneyBaseCurrency | formatCurrency : session.language}}</td>
          </ng-container>

          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>{{'Comment' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.comment}}</td>
          </ng-container>

          <ng-container matColumnDef="addedDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Added date' | translate}}</th>
            <td mat-cell *matCellDef="let row">{{row.addedDateTime | formatDate: session.language}}</td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>{{'Edit' | translate}}</th>
            <td mat-cell *matCellDef="let row">
              <a  [routerLink]="'/admin/transactions/' + row.id" class="edit-link">
                <mat-icon>create</mat-icon>
              </a>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>

        </table>
        <mat-paginator #paginatorPartnerTrans (page)="onPageChange($event, 1)"></mat-paginator>
      </div>
    </div>
  </div>
</div>
