<div class="container">
  <div class="card" *ngIf="isLoaded">
    <h1>{{ 'Edit material' | translate }} - #{{ material_id }}</h1>
    <ng-container *ngIf="errors.length > 0">
      <mat-card *ngFor="let err of errors" class="err-alert">
        <mat-card-content>{{err.message}}</mat-card-content>
      </mat-card>
    </ng-container>

    <div class="container">
      <form [formGroup]="materialForm">
        <input type="hidden" formControlName="id">

        <mat-form-field class="form-item">
          <input matInput required formControlName="title" placeholder="{{'title' | translate}}">
          <mat-error *ngIf="checkError('title')">{{getError('title')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-item">
          <mat-label>{{ 'Categories' | translate }}</mat-label>
          <mat-select formControlName="category" multiple required>
            <mat-option *ngFor="let category_one of categories" [value]="category_one.id">{{ category_one.title }}</mat-option>
          </mat-select>
          <mat-error *ngIf="checkError('category')">{{ getError('category') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-item">
          <mat-label>{{ 'Type Content' | translate }}</mat-label>
          <mat-select formControlName="type" required>
            <mat-option *ngFor="let type of types" [value]="type.id">{{ type.title }}</mat-option>
          </mat-select>
          <mat-error *ngIf="checkError('type')">{{ getError('type') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-item">
          <input type="url" matInput required formControlName="sourceLink" placeholder="{{'sourceLink' | translate}}">
          <mat-error *ngIf="checkError('sourceLink')">{{ getError('sourceLink') | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-item">
          <textarea rows="10" matInput required formControlName="text" placeholder="{{'text' | translate}}"></textarea>
          <mat-error *ngIf="checkError('text')">{{getError('text')}}</mat-error>
        </mat-form-field>

        <div class="form-item">
          <button (click)="onSubmit()" mat-flat-button [disabled]="!materialForm.valid" color="primary">
            {{'Save' | translate}}
          </button>
        </div>

      </form>
    </div>
  </div>

  <mat-card *ngIf="!isLoaded" style="display:flex;justify-content:center;align-items:center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
