<div class="start-content">
  <div class="card w-full flex items-center justify-center">
    <div class="flex flex-col justify-center start-text">
      <p style="font-size: 24px; font-weight: 600" translate>{{endMessage?.finishContent?.title | translate}}</p>
      <div style="word-wrap: break-word; font-size: 14px">
        {{endMessage?.finishContent?.text | translate}}
      </div>
      <button style="text-align: center; width: 100%; margin-top: 20px; height: 35px; font-size: 14px" label="{{'Continue study' | translate}}" pButton (click)="goToTrainingStart()"></button>
    </div>
  </div>
</div>
