/* You can add global styles to this file, and also import other style files */

$color-blue-link: #039be5;
$color-red-danger: #f44336;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 10px;
  margin-bottom: 20px;
}

.notation {
  font-size: 20px;
}

.form-item {
  width: 100%;
  margin-bottom: 20px;
}

.form-item-link {
  color: $color-blue-link;
}

.err-alert {
  background-color: $color-red-danger;
}

// flat input field
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
