/* You can add global styles to this file, and also import other style files */
@import "assets/scss/index";
$color-blue-link: #039be5;
$color-red-danger: #f44336;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 500;
}

.container {
  padding: 10px;
  margin-bottom: 20px;
}

.notation {
  font-size: 20px;
}

.form-item {
  width: 100%;
  margin-bottom: 20px;

  mat-form-field {
    min-width: 40%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.form-item-link {
  color: $color-blue-link;
}

// alert at the forms-top
.err-alert {
  background-color: $color-red-danger;
}

// flat input field
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

snack-bar-container.snack-error {
  background: $color-red-danger;
  color: #fff;
  //color: rgba(0,0,0,.87);
}

mat-progress-bar.mat-progress-bar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}


.container {
  .container {
    padding: 0;
  }
}

.filter-dictionary {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  padding-left: 24px;

  .all-select-checkbox {
    padding-top: 10px;
  }

  .filter-select-button,
  .filter-delete-button {
    margin-left: 20px;
  }

  .dictionary-button-filter {
    margin-left: auto;

    .filter-button {
      width: 130px;
      margin: 0 10px;
    }
  }
}

.table-dictionary {
  width: 100%;

  .table-id {
    width: 40px;
  }

  .table-word,
  .table-literal {
    text-align: left;
    padding-left: 20px;
  }

  .table-word {
    width: 160px;
  }

  .table-literal {
    width: 270px;
  }

  .table-button {
    width: 80px;
  }
}
