<div id="modalTranslate" style="position: absolute; display: flex; flex-flow: column; z-index: 999999; width: 300px; height: auto; max-height: 60vh; background: rgb(255, 255, 255); border-radius: 10px; padding: 10px; border: 1px solid rgb(0, 0, 0); overflow-y: auto;">
    <button type="button" class="close" id="closeModal" style="border: none; background: transparent; padding: 0.5rem 1rem; font-size: 1.5rem; font-weight: 700; margin-left: auto;"><span>×</span></button>
    <div id="modalBody">
        
    </div>
</div>