<div class="container">
  <h1 translate>Sign in</h1>
  <div class="container">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm.value)">
      <mat-form-field class="form-item">
        <mat-label translate>Email</mat-label>
        <input
          matInput
          required
          formControlName="email"
          placeholder="{{'Email' | translate}}">
        <mat-error *ngIf="checkError('email')">{{ getError('email')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label translate>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          placeholder="{{'Password' | translate}}">
        <mat-error *ngIf="checkError('password')">{{ getError('password')}}</mat-error>
      </mat-form-field>

      <div class="form-item">
        <a
          routerLink="/restore"
          class="form-item-link"
          translate>Forgot password?
        </a>
      </div>

      <div class="form-item">
        <button
          mat-flat-button
          color="primary"
          translate
          type="submit"
          [disabled]="!signinForm.valid">Sign in</button>
      </div>

    </form>
  </div>
</div>
