<div class="modal" *ngIf="status">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ 'Report' | translate }}</h3>
        <a title="{{ 'Close' | translate }}" class="close" (click)="closeModal.emit()">×</a>
      </div>
      <div class="modal-body">
        <div class="mnemonics">
          <div class="mnemonic_box">
            <textarea></textarea>
          </div>
        </div>
        <button mat-flat-button color="primary" (click)="onAddReport.emit()">{{ 'Report' | translate }}</button>
      </div>
    </div>
  </div>
</div>
